{"http_interactions": [{"request": {"body": {"encoding": "utf-8", "string": ""}, "headers": {"Authorization": ["<AUTH_TOKEN>"]}, "method": "GET", "uri": "https://api.github.com/repos/USER_PLACEHOLDER/ghia_test_env/issues?state=open"}, "response": {"body": {"encoding": "utf-8", "string": "[{\"url\":\"https://api.github.com/repos/USER_PLACEHOLDER/ghia_test_env/issues/124\",\"repository_url\":\"https://api.github.com/repos/USER_PLACEHOLDER/ghia_test_env\",\"labels_url\":\"https://api.github.com/repos/USER_PLACEHOLDER/ghia_test_env/issues/124/labels{/name}\",\"comments_url\":\"https://api.github.com/repos/USER_PLACEHOLDER/ghia_test_env/issues/124/comments\",\"events_url\":\"https://api.github.com/repos/USER_PLACEHOLDER/ghia_test_env/issues/124/events\",\"html_url\":\"https://github.com/USER_PLACEHOLDER/ghia_test_env/issues/124\",\"id\":509950752,\"node_id\":\"MDU6SXNzdWU1MDk5NTA3NTI=\",\"number\":124,\"title\":\"Dummy\",\"user\":{\"login\":\"USER_PLACEHOLDER\",\"id\":5578577,\"node_id\":\"MDQ6VXNlcjU1Nzg1Nzc=\",\"avatar_url\":\"https://avatars2.githubusercontent.com/u/5578577?v=4\",\"gravatar_id\":\"\",\"url\":\"https://api.github.com/users/USER_PLACEHOLDER\",\"html_url\":\"https://github.com/USER_PLACEHOLDER\",\"followers_url\":\"https://api.github.com/users/USER_PLACEHOLDER/followers\",\"following_url\":\"https://api.github.com/users/USER_PLACEHOLDER/following{/other_user}\",\"gists_url\":\"https://api.github.com/users/USER_PLACEHOLDER/gists{/gist_id}\",\"starred_url\":\"https://api.github.com/users/USER_PLACEHOLDER/starred{/owner}{/repo}\",\"subscriptions_url\":\"https://api.github.com/users/USER_PLACEHOLDER/subscriptions\",\"organizations_url\":\"https://api.github.com/users/USER_PLACEHOLDER/orgs\",\"repos_url\":\"https://api.github.com/users/USER_PLACEHOLDER/repos\",\"events_url\":\"https://api.github.com/users/USER_PLACEHOLDER/events{/privacy}\",\"received_events_url\":\"https://api.github.com/users/USER_PLACEHOLDER/received_events\",\"type\":\"User\",\"site_admin\":false},\"labels\":[{\"id\":1629342868,\"node_id\":\"MDU6TGFiZWwxNjI5MzQyODY4\",\"url\":\"https://api.github.com/repos/USER_PLACEHOLDER/ghia_test_env/labels/Need%20assignment\",\"name\":\"Need assignment\",\"color\":\"ededed\",\"default\":false,\"description\":null}],\"state\":\"open\",\"locked\":false,\"assignee\":{\"login\":\"USER_PLACEHOLDER\",\"id\":5578577,\"node_id\":\"MDQ6VXNlcjU1Nzg1Nzc=\",\"avatar_url\":\"https://avatars2.githubusercontent.com/u/5578577?v=4\",\"gravatar_id\":\"\",\"url\":\"https://api.github.com/users/USER_PLACEHOLDER\",\"html_url\":\"https://github.com/USER_PLACEHOLDER\",\"followers_url\":\"https://api.github.com/users/USER_PLACEHOLDER/followers\",\"following_url\":\"https://api.github.com/users/USER_PLACEHOLDER/following{/other_user}\",\"gists_url\":\"https://api.github.com/users/USER_PLACEHOLDER/gists{/gist_id}\",\"starred_url\":\"https://api.github.com/users/USER_PLACEHOLDER/starred{/owner}{/repo}\",\"subscriptions_url\":\"https://api.github.com/users/USER_PLACEHOLDER/subscriptions\",\"organizations_url\":\"https://api.github.com/users/USER_PLACEHOLDER/orgs\",\"repos_url\":\"https://api.github.com/users/USER_PLACEHOLDER/repos\",\"events_url\":\"https://api.github.com/users/USER_PLACEHOLDER/events{/privacy}\",\"received_events_url\":\"https://api.github.com/users/USER_PLACEHOLDER/received_events\",\"type\":\"User\",\"site_admin\":false},\"assignees\":[{\"login\":\"USER_PLACEHOLDER\",\"id\":5578577,\"node_id\":\"MDQ6VXNlcjU1Nzg1Nzc=\",\"avatar_url\":\"https://avatars2.githubusercontent.com/u/5578577?v=4\",\"gravatar_id\":\"\",\"url\":\"https://api.github.com/users/USER_PLACEHOLDER\",\"html_url\":\"https://github.com/USER_PLACEHOLDER\",\"followers_url\":\"https://api.github.com/users/USER_PLACEHOLDER/followers\",\"following_url\":\"https://api.github.com/users/USER_PLACEHOLDER/following{/other_user}\",\"gists_url\":\"https://api.github.com/users/USER_PLACEHOLDER/gists{/gist_id}\",\"starred_url\":\"https://api.github.com/users/USER_PLACEHOLDER/starred{/owner}{/repo}\",\"subscriptions_url\":\"https://api.github.com/users/USER_PLACEHOLDER/subscriptions\",\"organizations_url\":\"https://api.github.com/users/USER_PLACEHOLDER/orgs\",\"repos_url\":\"https://api.github.com/users/USER_PLACEHOLDER/repos\",\"events_url\":\"https://api.github.com/users/USER_PLACEHOLDER/events{/privacy}\",\"received_events_url\":\"https://api.github.com/users/USER_PLACEHOLDER/received_events\",\"type\":\"User\",\"site_admin\":false}],\"milestone\":null,\"comments\":0,\"created_at\":\"2019-10-21T13:07:54Z\",\"updated_at\":\"2019-12-03T01:17:09Z\",\"closed_at\":null,\"author_association\":\"OWNER\",\"body\":\"Just dummy a issue :duck:\"},{\"url\":\"https://api.github.com/repos/USER_PLACEHOLDER/ghia_test_env/issues/123\",\"repository_url\":\"https://api.github.com/repos/USER_PLACEHOLDER/ghia_test_env\",\"labels_url\":\"https://api.github.com/repos/USER_PLACEHOLDER/ghia_test_env/issues/123/labels{/name}\",\"comments_url\":\"https://api.github.com/repos/USER_PLACEHOLDER/ghia_test_env/issues/123/comments\",\"events_url\":\"https://api.github.com/repos/USER_PLACEHOLDER/ghia_test_env/i[...]
{"request": {"body": {"encoding": "utf-8", "string": ""}, "headers": {"Authorization": ["<AUTH_TOKEN>"]}, "method": "GET", "uri": "https://api.github.com/repositories/216356199/issues?state=open&page=2&state=open"}, "response": {"body": {"encoding": "utf-8", "string": "[{\"url\":\"https://api.github.com/repos/USER_PLACEHOLDER/ghia_test_env/issues/94\",\"repository_url\":\"https://api.github.com/repos/USER_PLACEHOLDER/ghia_test_env\",\"labels_url\":\"https://api.github.com/repos/USER_PLACEHOLDER/[...]
[...]
